name: Backend tests and code quality checks
on:
    push:
        branches:
        - main
    pull_request:
        branches:
        - main

jobs:
  backend-tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Set up .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '10.0.x'
        
    - name: Restore dotnet tools
      run: dotnet tool restore
      
    - name: Run SonarQube Scanner
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      run: |
        dotnet sonarscanner begin \
          /k:"${{ github.repository_owner }}_${{ github.event.repository.name }}" \
          /o:"${{ github.repository_owner }}" \
          /d:sonar.token="${{ secrets.SONAR_TOKEN }}" \
          /d:sonar.cs.vstest.reportsPaths="**/*.trx" \
          /d:sonar.cs.opencover.reportsPaths="**/coverage.cobertura.xml"
        
        dotnet build --no-incremental
        
        dotnet test "Core.UnitTests/Core.UnitTests.csproj" --logger:trx --collect:"XPlat Code Coverage" --no-build
        dotnet test "BoxFactory.BDDTests/BoxFactory.BDDTests.csproj" --logger:trx --collect:"XPlat Code Coverage"
        dotnet test "BoxFactory.IntegrationTests/BoxFactory.IntegrationTests.csproj" --logger:trx --collect:"XPlat Code Coverage"
        
        dotnet sonarscanner end /d:sonar.login="${{ secrets.SONAR_TOKEN }}"

#    - name: Run Unit Tests
#      run: dotnet test "Core.UnitTests/Core.UnitTests.csproj" --logger:trx --collect:"XPlat Code Coverage"
#
#    - name: Run Cucumber tests
#      run: dotnet test "BoxFactory.BDDTests/BoxFactory.BDDTests.csproj" --logger:trx --collect:"XPlat Code Coverage"
#
#    - name: Run Integration Tests
#      run: dotnet test "BoxFactory.IntegrationTests/BoxFactory.IntegrationTests.csproj" --logger:trx --collect:"XPlat Code Coverage"
