name: e2e-tests.yml
on:
    push:
        branches:
        - main
    pull_request:
        branches:
        - main

jobs:
  e2e-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'

      - name: Install dependencies
        run: npm ci
        working-directory: Frontend

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
        working-directory: Frontend

      - name: Run Playwright tests
        run: npx playwright test
        working-directory: Frontend

      - uses: actions/upload-artifact@v6
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: Frontend/playwright-report/
          retention-days: 30