name: frontend.yml
on:
    push:
        branches:
        - main
    pull_request:
        branches:
        - main

jobs:
    frontend-tests:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout repository
          uses: actions/checkout@v6